.jumbotron {
  scroll-margin-top: 60px;
  background-color: #75fac2;
  border: 2rem;
}

#projects {
  margin: ;
  background-color: #75fac2;
  border-bottom: white;
}

section {
  padding-top: 5rem;
}
